In [22]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('ncaa_results.csv')

In [5]:
df

,Year,Round,Region Number,Region Name,Seed,Score,Team,Team.1,Score.1,Seed.1
0,1985,1,1,West,1,83,St Johns,Southern,59,16
1,1985,1,1,West,2,81,VCU,Marshall,65,15
2,1985,1,1,West,3,65,NC State,Nevada,56,14
3,1985,1,1,West,4,85,UNLV,San Diego St,80,13
4,1985,1,1,West,5,58,Washington,Kentucky,65,12
5,1985,1,1,West,6,75,Tulsa,UTEP,79,11
6,1985,1,1,West,7,50,Alabama,Arizona,41,10
7,1985,1,1,West,8,54,Iowa,Arkansas,63,9
8,1985,1,2,East,1,68,Georgetown,Lehigh,43,16
9,1985,1,2,East,2,65,Georgia Tech,Mercer,58,15
10,1985,1,2,East,3,76,Illinois,Northeastern,57,14
11,1985,1,2,East,4,59,Loyola Illinois,Iona,58,13
12,1985,1,2,East,5,85,SMU,Old Dominion,68,12
13,1985,1,2,East,6,67,Georgia,Wichita St,59,11
14,1985,1,2,East,7,70,Syracuse,DePaul,65,10
15,1985,1,2,East,8,60,Temple,Virginia Tech,57,9
16,1985,1,3,Midwest,1,96,Oklahoma,North Carolina A&T,83,16
17,1985,1,3,Midwest,2,67,Memphis,Pennsylvania,55,15
18,1985,1,3,Midwest,3,75,Duke,Pepperdine,62,14
19,1985,1,3,Midwest,4,75,Ohio St,Iowa St,64,13
20,1985,1,3,Midwest,5,78,Louisiana Tech,Pittsburgh,54,12
21,1985,1,3,Midwest,6,53,Texas Tech,Boston College,55,11
22,1985,1,3,Midwest,7,70,UAB,Michigan St,68,10
23,1985,1,3,Midwest,8,55,USC,Illinois St,58,9
24,1985,1,4,Southeast,1,59,Michigan,Fairleigh Dickinson,55,16
25,1985,1,4,Southeast,2,76,North Carolina,Middle Tennessee St,57,15
26,1985,1,4,Southeast,3,49,Kansas,Ohio,38,14
27,1985,1,4,Southeast,4,55,LSU,Navy,78,13
28,1985,1,4,Southeast,5,69,Maryland,Miami Ohio,68,12
29,1985,1,4,Southeast,6,58,Purdue,Auburn,59,11
...,...,...,...,...,...,...,...,...,...,...
2049,2017,2,1,East,2,81,Duke,South Carolina,88,7
2050,2017,2,1,East,3,82,Baylor,USC,78,11
2051,2017,2,1,East,4,65,Florida,Virginia,39,5
2052,2017,2,2,West,1,79,Gonzaga,Northwestern,73,8
2053,2017,2,2,West,2,69,Arizona,St Marys,60,7
2054,2017,2,2,West,3,66,Florida St,Xavier,91,11
2055,2017,2,2,West,4,83,West Virginia,Notre Dame,71,5
2056,2017,2,3,Midwest,1,90,Kansas,Michigan St,70,9
2057,2017,2,3,Midwest,2,69,Louisville,Michigan,73,7
2058,2017,2,3,Midwest,3,75,Oregon,Rhode Island,72,11
2059,2017,2,3,Midwest,4,80,Purdue,Iowa St,76,5
2060,2017,2,4,South,1,72,North Carolina,Arkansas,65,8
2061,2017,2,4,South,2,65,Kentucky,Wichita St,62,10
2062,2017,2,4,South,3,79,UCLA,Cincinnati,67,6
2063,2017,2,4,South,4,74,Butler,Middle Tennessee St,65,12
2064,2017,3,1,East,8,83,Wisconsin,Florida,84,4
2065,2017,3,1,East,7,70,South Carolina,Baylor,50,3
2066,2017,3,2,West,1,61,Gonzaga,West Virginia,58,4
2067,2017,3,2,West,2,71,Arizona,Xavier,73,11
2068,2017,3,3,Midwest,1,98,Kansas,Purdue,66,4
2069,2017,3,3,Midwest,7,68,Michigan,Oregon,69,3
2070,2017,3,4,South,1,92,North Carolina,Butler,80,4
2071,2017,3,4,South,2,86,Kentucky,UCLA,75,3
2072,2017,4,1,East,4,70,Florida,South Carolina,77,7
2073,2017,4,2,West,1,83,Gonzaga,Xavier,59,11
2074,2017,4,3,Midwest,1,60,Kansas,Oregon,74,3
2075,2017,4,4,South,1,75,North Carolina,Kentucky,73,2
2076,2017,5,1,Final Four,7,73,South Carolina,Gonzaga,77,1
2077,2017,5,2,Final Four,3,76,Oregon,North Carolina,77,1
2078,2017,6,1,Championship,1,65,Gonzaga,North Carolina,71,1

In [17]:
def process_year(df, year):
    result = []
    year_df = df.loc[df['Year'] == year]
    for round_number in year_df.Round.unique():
        round_result = []
        round_df = year_df.loc[year_df['Round'] == round_number]
        for index, row in round_df.iterrows():
            round_result.append([
                {
                    "name": row['Team'],
                    "id": "{}.{}".format(row["Region Number"], row["Seed"]),
                    "winner": True 
                },
                {
                    "name": row['Team.1'],
                    # This is going to be incorrect if teams from different region meet
                    "id": "{}.{}".format(row["Region Number"], row["Seed"]),
                }
            ])
        result.append(round_result)
    return result

In [18]:
process_year(df, 1985)

[[[{'id': '1.1', 'name': 'St Johns', 'winner': True},
   {'id': '1.1', 'name': 'Southern'}],
  [{'id': '1.2', 'name': 'VCU', 'winner': True},
   {'id': '1.2', 'name': 'Marshall'}],
  [{'id': '1.3', 'name': 'NC State', 'winner': True},
   {'id': '1.3', 'name': 'Nevada'}],
  [{'id': '1.4', 'name': 'UNLV', 'winner': True},
   {'id': '1.4', 'name': 'San Diego St'}],
  [{'id': '1.5', 'name': 'Washington', 'winner': True},
   {'id': '1.5', 'name': 'Kentucky'}],
  [{'id': '1.6', 'name': 'Tulsa', 'winner': True},
   {'id': '1.6', 'name': 'UTEP'}],
  [{'id': '1.7', 'name': 'Alabama', 'winner': True},
   {'id': '1.7', 'name': 'Arizona'}],
  [{'id': '1.8', 'name': 'Iowa', 'winner': True},
   {'id': '1.8', 'name': 'Arkansas'}],
  [{'id': '2.1', 'name': 'Georgetown', 'winner': True},
   {'id': '2.1', 'name': 'Lehigh'}],
  [{'id': '2.2', 'name': 'Georgia Tech', 'winner': True},
   {'id': '2.2', 'name': 'Mercer'}],
  [{'id': '2.3', 'name': 'Illinois', 'winner': True},
   {'id': '2.3', 'name': 'Northeastern'}],
  [{'id': '2.4', 'name': 'Loyola Illinois', 'winner': True},
   {'id': '2.4', 'name': 'Iona'}],
  [{'id': '2.5', 'name': 'SMU', 'winner': True},
   {'id': '2.5', 'name': 'Old Dominion'}],
  [{'id': '2.6', 'name': 'Georgia', 'winner': True},
   {'id': '2.6', 'name': 'Wichita St'}],
  [{'id': '2.7', 'name': 'Syracuse', 'winner': True},
   {'id': '2.7', 'name': 'DePaul'}],
  [{'id': '2.8', 'name': 'Temple', 'winner': True},
   {'id': '2.8', 'name': 'Virginia Tech'}],
  [{'id': '3.1', 'name': 'Oklahoma', 'winner': True},
   {'id': '3.1', 'name': 'North Carolina A&T'}],
  [{'id': '3.2', 'name': 'Memphis', 'winner': True},
   {'id': '3.2', 'name': 'Pennsylvania'}],
  [{'id': '3.3', 'name': 'Duke', 'winner': True},
   {'id': '3.3', 'name': 'Pepperdine'}],
  [{'id': '3.4', 'name': 'Ohio St', 'winner': True},
   {'id': '3.4', 'name': 'Iowa St'}],
  [{'id': '3.5', 'name': 'Louisiana Tech', 'winner': True},
   {'id': '3.5', 'name': 'Pittsburgh'}],
  [{'id': '3.6', 'name': 'Texas Tech', 'winner': True},
   {'id': '3.6', 'name': 'Boston College'}],
  [{'id': '3.7', 'name': 'UAB', 'winner': True},
   {'id': '3.7', 'name': 'Michigan St'}],
  [{'id': '3.8', 'name': 'USC', 'winner': True},
   {'id': '3.8', 'name': 'Illinois St'}],
  [{'id': '4.1', 'name': 'Michigan', 'winner': True},
   {'id': '4.1', 'name': 'Fairleigh Dickinson'}],
  [{'id': '4.2', 'name': 'North Carolina', 'winner': True},
   {'id': '4.2', 'name': 'Middle Tennessee St'}],
  [{'id': '4.3', 'name': 'Kansas', 'winner': True},
   {'id': '4.3', 'name': 'Ohio'}],
  [{'id': '4.4', 'name': 'LSU', 'winner': True},
   {'id': '4.4', 'name': 'Navy'}],
  [{'id': '4.5', 'name': 'Maryland', 'winner': True},
   {'id': '4.5', 'name': 'Miami Ohio'}],
  [{'id': '4.6', 'name': 'Purdue', 'winner': True},
   {'id': '4.6', 'name': 'Auburn'}],
  [{'id': '4.7', 'name': 'Notre Dame', 'winner': True},
   {'id': '4.7', 'name': 'Oregon St'}],
  [{'id': '4.8', 'name': 'Villanova', 'winner': True},
   {'id': '4.8', 'name': 'Dayton'}]],
 [[{'id': '1.1', 'name': 'St Johns', 'winner': True},
   {'id': '1.1', 'name': 'Arkansas'}],
  [{'id': '1.2', 'name': 'VCU', 'winner': True},
   {'id': '1.2', 'name': 'Alabama'}],
  [{'id': '1.3', 'name': 'NC State', 'winner': True},
   {'id': '1.3', 'name': 'UTEP'}],
  [{'id': '1.4', 'name': 'UNLV', 'winner': True},
   {'id': '1.4', 'name': 'Kentucky'}],
  [{'id': '2.1', 'name': 'Georgetown', 'winner': True},
   {'id': '2.1', 'name': 'Temple'}],
  [{'id': '2.2', 'name': 'Georgia Tech', 'winner': True},
   {'id': '2.2', 'name': 'Syracuse'}],
  [{'id': '2.3', 'name': 'Illinois', 'winner': True},
   {'id': '2.3', 'name': 'Georgia'}],
  [{'id': '2.4', 'name': 'Loyola Illinois', 'winner': True},
   {'id': '2.4', 'name': 'SMU'}],
  [{'id': '3.1', 'name': 'Oklahoma', 'winner': True},
   {'id': '3.1', 'name': 'Illinois St'}],
  [{'id': '3.2', 'name': 'Memphis', 'winner': True},
   {'id': '3.2', 'name': 'UAB'}],
  [{'id': '3.3', 'name': 'Duke', 'winner': True},
   {'id': '3.3', 'name': 'Boston College'}],
  [{'id': '3.4', 'name': 'Ohio St', 'winner': True},
   {'id': '3.4', 'name': 'Louisiana Tech'}],
  [{'id': '4.1', 'name': 'Michigan', 'winner': True},
   {'id': '4.1', 'name': 'Villanova'}],
  [{'id': '4.2', 'name': 'North Carolina', 'winner': True},
   {'id': '4.2', 'name': 'Notre Dame'}],
  [{'id': '4.3', 'name': 'Kansas', 'winner': True},
   {'id': '4.3', 'name': 'Auburn'}],
  [{'id': '4.13', 'name': 'Navy', 'winner': True},
   {'id': '4.13', 'name': 'Maryland'}]],
 [[{'id': '1.1', 'name': 'St Johns', 'winner': True},
   {'id': '1.1', 'name': 'Kentucky'}],
  [{'id': '1.7', 'name': 'Alabama', 'winner': True},
   {'id': '1.7', 'name': 'NC State'}],
  [{'id': '2.1', 'name': 'Georgetown', 'winner': True},
   {'id': '2.1', 'name': 'Loyola Illinois'}],
  [{'id': '2.2', 'name': 'Georgia Tech', 'winner': True},
   {'id': '2.2', 'name': 'Illinois'}],
  [{'id': '3.1', 'name': 'Oklahoma', 'winner': True},
   {'id': '3.1', 'name': 'Louisiana Tech'}],
  [{'id': '3.2', 'name': 'Memphis', 'winner': True},
   {'id': '3.2', 'name': 'Boston College'}],
  [{'id': '4.8', 'name': 'Villanova', 'winner': True},
   {'id': '4.8', 'name': 'Maryland'}],
  [{'id': '4.2', 'name': 'North Carolina', 'winner': True},
   {'id': '4.2', 'name': 'Auburn'}]],
 [[{'id': '1.1', 'name': 'St Johns', 'winner': True},
   {'id': '1.1', 'name': 'NC State'}],
  [{'id': '2.1', 'name': 'Georgetown', 'winner': True},
   {'id': '2.1', 'name': 'Georgia Tech'}],
  [{'id': '3.1', 'name': 'Oklahoma', 'winner': True},
   {'id': '3.1', 'name': 'Memphis'}],
  [{'id': '4.8', 'name': 'Villanova', 'winner': True},
   {'id': '4.8', 'name': 'North Carolina'}]],
 [[{'id': '1.1', 'name': 'St Johns', 'winner': True},
   {'id': '1.1', 'name': 'Georgetown'}],
  [{'id': '2.2', 'name': 'Memphis', 'winner': True},
   {'id': '2.2', 'name': 'Villanova'}]],
 [[{'id': '1.1', 'name': 'Georgetown', 'winner': True},
   {'id': '1.1', 'name': 'Villanova'}]]]

In [25]:
def process_data(df, filepath):
    data = {}
    for year in range(1985, 2018):
        data[year] = process_year(df, year)
    with open(filepath, 'w') as outfile:
        json.dump(data, outfile, indent=4, sort_keys=True)

In [26]:
process_data(df, 'data.json')